@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'Segoe-UI';
  src: url('./fonts/Segoe-UI/SegoeUI.eot');
  src: url('./fonts/Segoe-UI/SegoeUI.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Segoe-UI/SegoeUI.woff2') format('woff2'),
      url('./fonts/Segoe-UI/SegoeUI.woff') format('woff'),
      url('./fonts/Segoe-UI/SegoeUI.svg#SegoeUI') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe-UI';
  src: url('./fonts/Segoe-UI/SegoeUI-Bold.eot');
  src: url('./fonts/Segoe-UI/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Segoe-UI/SegoeUI-Bold.woff2') format('woff2'),
      url('./fonts/Segoe-UI/SegoeUI-Bold.woff') format('woff'),
      url('./fonts/Segoe-UI/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Segoe UI Black';
  src: url('./fonts/Segoe-UI/SegoeUIBlack.eot');
  src: url('./fonts/Segoe-UI/SegoeUIBlack.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Segoe-UI/SegoeUIBlack.woff2') format('woff2'),
      url('./fonts/Segoe-UI/SegoeUIBlack.woff') format('woff'),
      url('./fonts/Segoe-UI/SegoeUIBlack.ttf') format('truetype'),
      url('./fonts/Segoe-UI/SegoeUIBlack.svg#SegoeUIBlack') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  height: 100%;
  font-size: 14px;
}

#main-wrapper {
  background-color: #f6f6f6;
  position: relative;
  padding-top: 1rem;
}
.top_header_bg {
  background-color: #002639;
  position: fixed;
  top: 0;
  width: 100%;
  height: 200px;
  z-index: -1;
}
.topbar-header {
  width: 100%;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #002639;
  z-index: 100;
}
.topbar-header .navbar {
  padding: 0;
  min-height: 60px;
}
.navbar-leftside {
  display: flex;
}
.navbar-header {
  width: auto;
  line-height: 60px;
  position: relative;
  z-index: 10;
  background-color: #002639;
}
.navbar-header .navbar-toggler{
  color:#fff;
}
.topbar-header .navbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0 30px;
  height: 60px;
}
.topbar-header .navbar-brand a.brand-logo > img.logo {
  width: 180px;
}
.topbar-header .navbar-collapse {
  margin-left: 249px;
}
.topbar-header .navbar-collapse .navbar-nav {
  width: 100%;
  margin: 0 30px;
  padding: 11px 20px;
  background-color: #002639;
  border-radius: 5px;
  box-shadow: 0 3px 14px 0 rgb(0, 0, 0, 0.11);
  -webkit-box-shadow: 0 3px 14px 0 rgb(0, 0, 0, 0.11);
  -moz-box-shadow: 0 3px 14px 0 rgb(0, 0, 0, 0.11);
  display: flex;
  align-items: center;
}
.topbar-header .navbar {
  padding: 0;
  min-height: 60px;
  display: flex;
  flex-wrap: nowrap;
}
.user-profile a{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}
.user-name{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.status{
  margin: 0;
  opacity: 0.58;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.user-profile a img {
  width: auto;
  height: 36px;
  margin: 3px 0 3.5px 10px;
}
.topbar-header .navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.topbar-header .navbar-collapse .box-wrap .navbar-nav {
  align-items: center;
}
.user-search-box {
  width: 266px;
  height: 30px;
  margin: 6px 28px 6.5px 578px;
  padding: 3px 7px 3px 10px;
  border-radius: 3px;
  border: solid 1px #031c2b;
  background-color: #003656;
}
.navbar-collapse .box-wrap .nav-item-right {
  margin-right: 1.8rem;
}
.navbar-collapse .box-wrap .nav-item-right a {
  color: #d9e5ea;
  position: relative;
}
.navbar-collapse .box-wrap .nav-item-right a > img {
  width: 50px;
}
.navbar-collapse .box-wrap .nav-item-right a.bell > img {
  width: 18px;
}
.navbar-collapse .box-wrap .nav-item-right a .badge {
  padding: 2px 6px;
  font-size: 7px;
  line-height: 10px;
  position: absolute;
  top: -10px;
  right: -6px;
  background-color: #32ca75;
}
.navbar-collapse .box-wrap .nav-item-right a.bell .badge {
  background-color: #f20707;
}
.navbar-collapse .box-wrap .nav-item-right a:hover {
  color: #fff;
  text-decoration: none;
}
.navbar-collapse .box-wrap .user-profile {
  display: flex;
  align-items: center;
  position: relative;
}
.navbar-collapse .box-wrap .user-profile h4 {
  margin: 0px;
  text-align: left;
}
.navbar-collapse .box-wrap .user-profile h4 span {
  width: 100%;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  display: block;
}
.navbar-collapse .box-wrap .user-profile h4 span.status {
  font-size: 10px;
  color: #707070;
  padding-top: 5px;
}

.sidebar-nav ul {
  margin: 0;
  padding: 0;
}
.sidebar-nav ul li {
  list-style-type: none;
}
.sidebar-nav ul li .sidebar-link {
  cursor: pointer;
  color: #999999;
  padding: 4px 14px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  transition: 0.5s;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  &:hover{
    .box_icon {
      background-color: #1488e1;
      font-weight: bold;
      color: #fff;
      border: none;
    }
    color: #222222;
    font-weight: bold;
    text-decoration: none;
  }
}
.sidebar-nav ul li .sidebar-link img {
  margin-right: 15px;
  width: 15px;
  height: 15px;
}
.sidebar-nav ul li .active.sidebar-link{
  color: #222222;
  font-weight: bold;
  text-decoration: none;
}
.sidebar-nav ul li .sidebar-link .box_icon {
  width: 25px;
  height: 25px;
  margin: 0 12px 0 0;
  padding: 3px;
  border-radius: 5px;
  border: solid 1px #cccccc;
  background-color: #ffffff;
  font-size: 14px;
  font-style: normal;
  line-height:18px;
  letter-spacing: normal;
  text-align: center;
  color: #cccccc;
  font-family: 'Segoe-UI';
  &:hover{
    background-color: #1488e1;
    font-weight: bold;
    color: #fff;
    border: none;
  }
}
.sidebar-nav ul li .active.sidebar-link .box_icon {
  background-color: #1488e1;
  font-weight: bold;
  color: #fff;
  border: none;
}

.text-dark {
  color: #000 !important;
}
.search-box input {
  background-image: url(../public/images/search.png);
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 50px;
}

.bg-grey {
  background-color: #f1f1f1;
}

.sidebar-link:hover object,
.sidebar-link:focus object {
  fill: #fff;
}
.side-bar-links .navlink {
  color: #9b9b9b;
  line-height: 24px;
}
.side-bar-links .navlink.active {
  color: #32ca75;
}
.navhead {
  line-height: 30px;
}
.bg-grey2 {
  background-color: #f6f6f6;
}
.border-r-1 {
  border-right: 1px solid #ddd;
}
.pointer {
  cursor: pointer;
}
.required-red {
  color: red;
}
.user-search-box {
  background-image: url(../public/images/search.png);
  background-color: #003656;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-position: 105% center;
  color: #00263B;
}
.user-search-box .form-control {
  border: solid 1px #031c2b;
}
.user-profile h4 {
  display: flex;
  flex-flow: column;
  margin: 0;
  align-items: baseline;
  justify-content: left;
  text-align: left;
}
.left-sidebar.show{
  width: 220px;
  transition: 0.5s;
}
.left-sidebar{
  height: auto;
  margin: 0 1px 0 0;
  padding: 0;
  // box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.15);
  box-shadow:-2px 0 20px 8px inset rgba(0,0,0,0.08);
  background-color: #f2f4f6;
}
.left-sidebar.collapse.show + .page-wrapper{
  width:calc(100% - 220px);
  transition: 0.3s;
}
.left-sidebar + .page-wrapper{
  width:100%;
  transition: 0.3s;
}
#main-content{
  display: flex;
}
.sidebar-nav{
  position: relative;
}
.sidebar-nav ul {
  margin: 0;
  padding: 0;
  z-index: 10;
  position: relative;
}
.border_line {
  background-color: #003656;
  width: 1px;
  height: 90%;
  position: absolute;
  left: 25px;
  top: 15px;
  z-index: 1;
}
.sidebar-nav .sidebar-item {
  margin: 20px 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.86;
  letter-spacing: normal;
  text-align: left;
  color: #222;
 /* background: #f2f4f6;*/
 background:transparent;
}
.page-wrapper {
  width: calc(100% - 250px);
  margin-left: 0px;
  border-radius: 10px;
box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.08);
background-color: #ffffff;
margin:0 30px 0 -1px;
}
.logotext {
  width: 93px;
  height: 17px;
  margin: 12.7px 0 12.8px 12.6px;
  font-family: TwCenMT;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.page_heading {
  height: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.84;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
  background-color: #fff;
  padding: 23px 0 23px 24px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.08);
  margin:0;
  border-radius: 0 10px 0 0;
}
.grey_box_bg{
  background:rgb(249,249,249);
  padding:20px 30px;
}
.main-heading {
  width: 100%;
  height: auto;
  margin:10px 0 !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.05;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
}
.main-heading .fa{
  font-size:30px;
  margin-right: 1rem;
}
.main-heading .far{
  font-size:30px;
  margin-right: 1rem;
}
.upload_photo_bg {
  width: 100px !important;
  height: 100px !important;
  margin: 0 0 30px 0;
  padding: 0;
  border-radius: 6px;
  border: solid 1px #cccccc;
  background-color: #eeeeee;
  align-items: center;
  justify-content: center;
  display: flex;
}
.upload_photo_bg img{
  width:80px;
  height:80px;
}
.upload-profile-label {
  width: 100%;
  height: auto;
  margin: 0 0px 5px 1px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.86;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}
.blue_link {
  width: 57px;
  height: 12px;
  margin: 3px 8px 2px 0;
  font-family: 'Segoe-UI';
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #1488e1;
  cursor: pointer;
}
.to-choose-a-file {
  width: auto;
  height: auto;
  margin: 0 ;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}
.form-label {
  width: auto;
  height: auto;
  margin-top: 1.5rem !important;
  margin-bottom: 0 !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.2;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}
.form-control {
  width: 100%;
  height: auto;
  min-height: 38px;
  margin: 0;
  padding:8px 10px;
  border-radius: 6px;
  border: solid 1px #cccccc;
  background-color: #ffffff;
}
.add-more-btn {
  width: 93px;
  height: 40px;
  padding: 14px 20px 12px;
  border-radius: 8px;
  background-color: #1488e1;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}
.grey_btn_bg {
  width: auto;
  height: auto;
  padding: 8px 20px;
  border-radius: 8px;
  background-color: #fbaa29;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  border:none;
  color: #444444;  
  border-radius: 8px;
  border: solid 1px #dddddd;
  background-color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.yellow-btn {
  width: auto;
  height: auto;
  padding: 8px 20px;
  border-radius: 8px;
  background-color: #fbaa29;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
  border:none;
  cursor: pointer;
}
.blue-btn {
  width: auto;
  height: auto;
  padding: 8px 20px;
  border-radius: 8px;
  background-color: #1488e1;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  border:none;
  cursor: pointer;
}
.red-btn {
  width: auto;
  height: auto;
  padding: 8px 20px;
  border-radius: 8px;
  background-color: #ff2f2f;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  border:none;
  cursor: pointer;
}
.add-remove-btn{
  text-align: center !important;
  margin-top: 3.7rem !important;
}
.buttons-group {
  vertical-align: top;
  text-align: right;
  margin: 10px 0;
  padding: 0;
}
.search_bar_div input {
  width: 266px;
  height: 30px;
  margin: 6px;
  padding: 3px 7px 3px 10px;
  border-radius: 3px;
  border: solid 1px #031c2b;
  background-color: #003656;
}
.fa.fa-file-image-o {
  color: #a4a4a9;
}
.navbar-toggler:focus{
  box-shadow: none !important;
}

@media screen and (max-width: 767px) {
  .user-name{
    font-size: 12px;
  }
  .for_mobileview{
    display: inline-block;
    margin-right: 20px;
  }
  .search_bar_div input{
    width:100%;
  }
  .topbar-header .navbar{
    flex-wrap: wrap;
  }
  .left-sidebar.show {
    position: fixed;
    height: 100%;
    width: 100% !important;
    background: #f2f4f6;
    z-index: 10;
   
}
  .left-sidebar.collapse.show + .page-wrapper{
    width:100% !important;
  }
  .page-wrapper{
    width:100%;
  }
  .navbar-nav .user-profile{
    display: none;
  }
  .user-profile h4 {
    display: none;
  }
  .mob_nav{
    width:100%;
  }
  .search_bar_div input{
    max-width:100%;
  }
  .navbar-nav{
    width:100%;
  }
  .nav-item:first-child{
    width:90%;
  }
}
.nav-link-bell {
  opacity: 0.2;
  color: #fff;
}
.form-check-input {
  width: 20px !important;
  height: 20px !important;
  margin: 0 5px 0 0 !important;
}
.multi_sel_dropdown{
  position:relative;
}
.arrow_select_drop {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 7px;
  font-size: 12px;
  line-height: 7px;
  color: #999999;
}
.searchWrapper{
  background-color: #fff;
}
.text-danger {
  font-size: small;
}